@font-face {font-family: ComicRelief; src: url(../fonts/ComicRelief.ttf);}
@font-face {font-family: SF_Arch_Rival; src: url(../fonts/SF_Arch_Rival.ttf);}

body
 {
    background: url(../images/clouds.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	font-family: arial, serif;
}

.body
{
	background: rgba(255,255,255, 0.5);
	margin: 15px;
}

body h1, h2, h3, h4
{
	/*font-family: 'Nova Square', cursive;*/
}

body p
{
	text-align: justify;
}

#menu
{
	background: rgba(0,0,0,0.9);
}

#menu li a
{
	color: #fff;
}

.language li a
{
padding: 0;
	margin: 0;
}

.social_icons 
{
    position: fixed;
    bottom: 200px;
    right: 0px;
}

.whatsapp_p
{
    position: absolute;
    color: #fff;
	height: 40px;
	right: 50px;
	top: 5px;
    display: none;
    opacity: 0;
	font-size: 30px;  
}

.whatsapp:hover .whatsapp_p 
{
    display: block; 
    opacity: 1;
	background: rgba(191,191,191, 0.90);
    color: #000;
	border-radius: 10px;
}


.tandem, .tours, .cursos, .contactos
{
	background: rgba(255,255,255, 0.7);
}

.modal-body
{
	text-align: left;
}

#myCarousel
{
	width: 100%;
}

#myCarousel img
{
	width: 100%;
}

#myCarousel p
{
	position: absolute;
	top: 0;
}

.carousel-caption 
{
    top: 30px;
	max-width: 550px;
	left: 30px;
    bottom: auto;
}
.carousel-caption  img
{
	float: left;
}

.carousel-caption p
{
	font-size: 35px;
	color: #000;
	-webkit-text-stroke: 0.5px #fff;
}

.box_index img
{
	box-shadow: 0 0 25px 5px #000;
	width: 100%;
}

.index a
{
	color: #000;
	text-align: center;
	text-decoration: none;
}

.index p
{
	text-align:center;
}

.box_index 
{
	position: relative;
	margin: 0;
	top: -130px;
}

.box_index  h3
{
	position: relative;
	top: 100px;
	font-size: 80px;
	color: #000;
	-webkit-text-stroke: 2px #fff;
	font-family: SF_Arch_Rival;
}

.box_index  p
{
	position: relative;
	top: -120px;
	font-size: 25px;
	color: #000;
	/*-webkit-text-stroke: 0.05px #fff;*/
}

h2
{
	font-size: 40px;
}

.tandem p
{
	text-align: justify;
}

.pasajero
{
	display: inline;
}

.bring_logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

.bring_icons
{
   text-align:center;
}

#next_tandem
{
	left: 265px;
}

#prev_tandem
{
	left: 70px;
}

.carousel-control.left, .carousel-control.right 
{
    background-image: none;
}

.box_tandem
{
	box-shadow: 0 0 25px 5px #000;
	border-radius: 20px;
	
}

.guayaquil
{
	background-image: url("../images/tandem/parapente_guayaquil.png");
	 background-repeat: no-repeat;
    background-position: center; 
	font-weight: bold;

	
}

.guayaquil h3
{
	text-align: center;
	font-weight: bold;
	
}

.guayaquil p
{
	padding: 10px;
	
}

.playa
{
	background-image: url("../images/tandem/parapente_playa.png");
	 background-repeat: no-repeat;
    background-position: center; 
	font-weight: bold;
	
}

.playa h3
{
	text-align: center;
	font-weight: bold;
	
}

.playa p
{
	padding: 10px;
	
}

.sidebar 
{
	
	text-align: center;
	border-left: #999 solid 1px;
	border-right: #999 solid 1px;
}

.map
{
	width: 100%;
	height: 250px; 
	text-align: center;
}

.promotions
{
	padding-left: 40px;
}

.promotions img
{
	border-radius: 25px;
}

.flip-container 
{
	perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper 
{
	transform: rotateY(180deg);
}

.flip-container, .front, .back
 {
	width: 212px;
	height: 112px;
	text-align: justify;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}


.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front 
{
	z-index: 2;
	transform: rotateY(0deg);
	box-shadow: 0 0 25px 5px #000;
	border-radius: 20px;
}

.back {

	transform: rotateY(180deg);
	box-shadow: 0 0 25px 5px #000;
	border-radius: 20px;
	background: rgba(0,0,0, 0.95);
}

.back p
{
	padding: 10px;
	color: #fff;
	text-align: center;
}

.contactos img
{
	float: left;
}

.tours_box
{
	background: rgba(226,226,226,0.5);
}

.tours_box h5
{
	background: rgba(198,198,198,0.5);
	padding: 10px;
}

.social_icons_footer
{
	padding-left: 10px;
}

.social_icons_footer p
{
	font-size: 35px;
}

#whatsapp_footer
{
	float: left;
}

.copy_right a
{
	padding-right: 20px;
	float: right;
	color: #000;
}

@media (max-width:800px) 
{
    #myCarousel
	{
        display:none !important;
    }
	
	.box_index 
	{
		top: 0;
	}
	
	.box_index p
	{
		font-size: 20px;
		top: -80px;
	}
	
	.map
	{
        display:none !important;	
	}
	
	.social_icons 
	{
		bottom: 150px;
	}
	
	.whatsapp:onclik .whatsapp_p 
	{
		display: block; 
		opacity: 1;
		background: rgba(191,191,191, 0.90);
		color: #000;
		border-radius: 10px;
	}


}


