body 
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
	color: #000;
	background-image: url("http://localhost/wp-content/uploads/2014/12/white.jpg");
}

/*================================HEADER=======================*/
#header
{
	background: rgba(255,255,255, 0.9);
}

#header h1
{
	/*font-family: 'Courgette', cursive;*/
	/*font-family: 'Satisfy', cursive;*/
	/*font-family: 'Pinyon Script', cursive;*/
	/*font-family: 'Dancing Script', cursive;*/
	/*font-family: 'Pacifico', cursive;*/
	font-family: 'Marck Script', cursive;
	/*font-family: 'Alex Brush', cursive;*/
	font-size: 150px;
}

#header h1 a:hover, a:visited, a:link, a:active
{
	color: #000;
	text-decoration: none;
}

#header p
{
	font-style: italic;
	letter-spacing: .2em;
}

.header_icons 
{
	position:absolute; 
	top:0px; 
	right: 0px;
}


/*========================================INDEX=========================*/
#article
{
	background: rgba(255,255,255, 0.9);
}

#article a
{
	color:#000;
}

.entry img
{
	border: 5px solid #000;
	width: 90%;
	height: 90%;
	clear: both; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.entry
{
	display: block; 
	text-align: justify;
}

#comment
{
	width: 90%;
}
/*=============================SIDEBAR===========================*/
.img-about 
{
	border:solid 3px #333;
	padding:0px;
}

#aside
{
	float: right;
	background: rgba(255,255,255, 0.9);
}

#aside p
{
	text-align: justify;
}

#aside ul li
{
	list-style-type: none;
}

#aside a
{
	color: #000;
}



/*=============================FOOTER=========================*/
#footer
{
	margin: 10px;
	background: rgba(255,255,255, 0.9);
}

#copy_right
{
	padding: 0 0 0 0;
	font-weight: bold;
}

#footer a
{
	color:#000;
}

#social_net_footer
{
	position: relative;
	float: right;
	top: -25px;
	font-weight: bold;
}

#social_net_footer p
{
	float: left;
	padding: 0 3px 0 3px;
}

@media only screen and (max-width:  990px) 
{

#header h1
{
	font-size: 75px;
}

}

@media only screen and (max-width:  490px) 
{

#header h1
{
	font-size: 35px;
}

#social_net_footer
{
	top: 5px;
}

}