@font-face {
    	font-family: eraser;  
	src: local('EraserRegular'), 
		url("fonts/EraserRegular.ttf") format('truetype');  
	font-weight: normal;  
}
@font-face {
    	font-family: Snickles;  
	src: local('Lilly'), 
		url("fonts/Lilly.ttf") format('truetype');  
	font-weight: normal;  
}

@font-face {
    	font-family: RockSalt;  
	src: local('PlaytimeOblique'), 
		url("fonts/PlaytimeOblique.ttf") format('truetype');  
	font-weight: normal;  
}

body 
{
	color: #fff;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;  
	background-image: url("images/black.jpg");
}


/*================================HEADER=======================*/
#header
{
	background: rgba(0,0,0, 0.9);
	color: #fff;
	
}

#header h1
{
	color: #fff;
	
	font-family: 'Dancing Script', cursive;
	/*font-family: 'Marck Script', cursive;*/
	font-size: 150px;
}

#header h1 a:hover, a:visited, a:link, a:active
{
	color: #fff;
	text-decoration: none;
}

#header p
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
	font-style: italic;
	letter-spacing: .2em;
}

.header_icons 
{
	position:absolute; 
	top:0px; 
	right: 0px;

}


/*========================================INDEX=========================*/
#article
{
	background: rgba(0,0,0, 0.9);
}

#article h2 a 
{
	color: #CDCDCD;
}

#article h2 
{
	color: #CDCDCD;
	font-family: 'Snickles', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
}

.entry
{
	color: #fff;
	display: block;
	text-align: justify; 
}

.entry img
{
	width: 640px;
	height: 480px ;
}
.entry img
{
	border: 5px solid #fff;
	width: 90%;
	height: 90%;
	clear: both; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

#commentform 
{
	color: #000;
}

#commentform  #reply_p
{
	color: #fff;
}

#commentform  label
{
	color: #fff;
}


#comment
{
	width: 90%;
}


.meta 
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}

.postmetadata
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
}

.more-link 
{
	border: 1px solid black;
	letter-spacing: 1px;
	background: rgba(255,255,255, 0.13);
	font-size: 24px;
	font-family: 'eraser', cursive;
	clear: both; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
	width: 170px;
}

/*=============================SIDEBAR===========================*/
.img-about 
{
	border:solid 3px #333;
	padding:0px;
}

#about
{
font-size: 1.2em;
font-family: RockSalt, TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 

}
#aside
{
	color: #fff;
	float: right;
	background: rgba(0,0,0, 0.8);
}

#aside p
{
	text-align: justify;
}

#aside ul li
{
	list-style-type: none;
}

#aside a
{
	color: #fff;
}

#aside h3
{
	color: #CDCDCD;
	font-family: 'RockSalt', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; 
}

input
{
	color: #000;
}

#searchform  label
{
	font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	letter-spacing: 0.02em;
}


/*=============================FOOTER=========================*/
#footer
{
	color: #fff;
	margin: 10px;
	background: rgba(0,0,0, 0.9);
}

#copy_right
{
	padding: 0 0 0 0;
}

#footer a
{
	color:#fff;
}

#social_net_footer
{
	position: relative;
	float: right;
	top: -25px;
}

#social_net_footer p
{
	float: left;
	padding: 0 3px 0 3px;
}


@media only screen and (max-width:  990px) 
{

#header h1
{
	font-size: 75px;
}

}

@media only screen and (max-width:  490px) 
{

#header h1
{
	font-size: 35px;
}

#social_net_footer
{
	top: 5px;
}

}

